<div style="background-color: #FC0"><h1 style="text-align: center; text-decoration: underline; background-color: red;">MK - Dashboard</h1>
<div align="left">
    <input style="width: 300px; padding: 20px; cursor: pointer; box-shadow: 6px 6px 5px; #999; -webkit-box-shadow: 6px 6px 5px #999; -moz-box-shadow: 6px 6px 5px #999; font-weight: bold; background: #ffff00; color: #000; border-radius: 10px; border: 1px solid #999; font-size: 150%;" type="button" value="Home" onclick="window.location.href='https://mk-dashboard.glitch.me/'" />
    <input style="width: 300px; padding: 20px; cursor: pointer; box-shadow: 6px 6px 5px; #999; -webkit-box-shadow: 6px 6px 5px #999; -moz-box-shadow: 6px 6px 5px #999; font-weight: bold; background: #ffff00; color: #000; border-radius: 10px; border: 1px solid #999; font-size: 150%;" type="button" value="API Docs" onclick="window.location.href='https://mk-dashboard.glitch.me/API'" />
    <!--<input style="width: 300px; padding: 20px; cursor: pointer; box-shadow: 6px 6px 5px; #999; -webkit-box-shadow: 6px 6px 5px #999; -moz-box-shadow: 6px 6px 5px #999; font-weight: bold; background: #ffff00; color: #000; border-radius: 10px; border: 1px solid #999; font-size: 150%;" type="button" value="About/Contact" onclick="window.location.href='https://mk-dashboard.glitch.me/about'" />
    -->
</div>
<h1><span style="text-decoration: underline;">Welcome, To API Docs n' Help!</span></h1>
<p style="font-size: 1.5em;">You can use our <strong>FREE</strong> API for all your purposes, could be building a bot or even a application whatever the cause our API is for you to use <img src="https://html5-editor.net/images/smiley.png" alt="smiley" />&nbsp;!</p>
<p style="font-size: 1.5em;">&nbsp;</p>
<p style="font-size: 1.5em;">Available API 1.0:</p>
<table class="editorDemoTable" style="height: 255px; background-color:#000" width="1120">
<tbody style="background-color: yellow;">
<tr>
<td style="width: 50px;"><strong>Name</strong></td>
<td style="width: 140px;"><strong>Link</strong></td>
<td style="width: 180px;"><strong>Result Type</strong></td>
</tr>
<tr>
<td style="width: 50px;">Quote</td>
<td style="width: 140px;">https://mk-dashboard.glitch.me/API/quote</td>
<td style="width: 180px;">String</td>
</tr>
<tr>
<td style="width: 50px;">Joke</td>
<td style="width: 140px;">https://mk-dashboard.glitch.me/API/joke</td>
<td style="width: 180px;">{body: 'Joke', category: 'Funny', id: 1, title: 'Joke Title'}</td>
</tr>
<tr>
<td style="width: 50px;">Fortune</td>
<td style="width: 140px;">https://mk-dashboard.glitch.me/API/fortune</td>
<td style="width: 180px;">String</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<h1 style="text-align: center;"><strong><span style="text-decoration: underline;"><span style="color: #ff0000; text-decoration: underline;">Further Details:</span></span></strong></h1>
<blockquote><hr /></blockquote>
<p style="text-align: center;">&nbsp;</p>
<h2><span style="text-decoration: underline;"><strong>Quote:</strong></span></h2>
<h4>Description:</h4>
<p>Out of 266 quotes, you will be randomly given 1 quote.</p>
<p>All quotes have been verified and are safe to be seen by<strong>&nbsp;<span style="background-color: #99cc00;">Over 13's</span>&nbsp;</strong>due to possible swear words, no other references are made.</p>
<!--<p>If you have any querys/suggestions/reports please use this link:&nbsp;<a title="Report" href="https://mk-dashboard.glitch.me/report" target="_blank" rel="noopener">Link to page</a>&nbsp;</p>-->
<h4>Returns:</h4>
<p>• STRING ""</p>
<p style="text-align: center;">&nbsp;</p>
<h2><span style="text-decoration: underline;"><strong>Joke:</strong></span></h2>
<h4>Description:</h4>
<p>Out of 2'000 and more jokes, you will be randomly given 1 joke.</p>
<p>All jokes have been verified and are safe to be seen by<strong>&nbsp;<span style="background-color: red;">Over 16's</span>&nbsp;</strong>due to possible swear words, sex reference and possible drugs mentions, no other references are made.</p>
<!--<p>If you have any querys/suggestions/reports please use this link:&nbsp;<a title="Report" href="https://mk-dashboard.glitch.me/report" target="_blank" rel="noopener">Link to page</a>&nbsp;</p>-->
<h4>Returns:</h4>
<p>• ARRAY {body: 'Joke', category: 'Funny', id: 1, title: 'Joke Title'}</p>
<p style="text-align: center;">&nbsp;</p>
<h2><span style="text-decoration: underline;"><strong>Fortune:</strong></span></h2>
<h4>Description:</h4>
<p>Out of 253 Fortunes, you will be randomly given 1 Fortune.</p>
<p>All fortunes have been verified and are safe to be seen by<strong>&nbsp;<span style="background-color: #99cc00;">Anyone</span>&nbsp;</strong>no references are made.</p>
<!--<p>If you have any querys/suggestions/reports please use this link:&nbsp;<a title="Report" href="https://mk-dashboard.glitch.me/report" target="_blank" rel="noopener">Link to page</a>&nbsp;</p>-->
<h4>Returns:</h4>
<p>• STRING ""</p>
<h3 style="text-align: center; background-color: red ; color: #0F0;">Made by Jackthehack21#8860 for the public</h3>
</div>